button:hover {
    opacity: 0.75;
}

button:disabled,
button[disabled]{
  cursor: not-allowed;
}

.dev-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 11px 20px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: #3D5AFE;
}

.default {
    background: #E0E0E0;
}

.outline {
    background: none;
    color: #3D5AFE;
    border: 1px solid #3D5AFE;
}

.text {
    background: none;
    border: none;
}

.boxShadow {
    box-shadow: 1px 1px 1px 1px #888888;
}

.primary {
    color: #FFFFFF;
    background: #0039CB;
}

.secondary {
    color: #FFFFFF;
    background: #1C313A;
}

.danger {
    color: #FFFFFF;
    background: #9A0007;
}

.sm {
    font-size: 12px;
    padding: 10px 15px;
}

.md {
    font-size: 16px;
    padding: 11px 20px;
}


.lg {
    font-size: 20px;
    padding: 12px 30px;
}